# Genie-TTS

# 通用
onnx
onnxruntime==1.22.1
tokenizers
numpy
soundfile
sounddevice
soxr
pyyaml
pydantic
huggingface_hub[hf_xet]
fastapi
uvicorn[standard]

# 日文 G2P
pyopenjtalk-plus

# 英文 G2P
nltk

# 中文 G2P
pypinyin
g2pM
jieba_fast